.container {
    position: fixed;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.modal-dialog {
    background-color:skyblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button{
   background-color: red;
   color: white;
}
  
.content {
    text-align: center;
}
  